    <center>
        <%-include('partials/encabezado.html');%>
    </center>   

<body>
    
    <center>
    <div class="container">

        <nav class="navbar navbar-expand-lg navbar-light bg-dark" >
            
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a style="color: white;" class="nav-link" href="#">Acerca de </a>
                </li>
                <li class="nav-item">
                    <a style="color: white;" class="nav-link" href="#">Pago de recibo</a>
                  </li>
                <li class="nav-item">
                  <a style="color: white;" class="nav-link" href="#">Contactos</a>
                </li>
                
                  
                
            </div>
          </nav>
          <br><br>
          
          <div class="container">
            
            <form method="post" style="background-color: rgb(245, 234, 79);">
                
                <label class="lead" for="">Número recibo: </label> 
                <input style="width: 300px;" type="number" class="form-control" aria-label="Amount (to the nearest dollar)" name="numRecibo" id="numRecibo" required="true" placeholder="Escriba el número del boleto">


                <label class="lead" for="">Nombre </label> 
                <input style="width: 300px;" type="text" class="form-control" aria-label="Amount (to the nearest dollar)" name="nombre" id="nombre" required="true" placeholder="Escriba su nombre">

                <label class="lead" for="">Domicilio </label> 
                <input style="width: 300px;" type="text" class="form-control" aria-label="Amount (to the nearest dollar)" name="domicilio" id="domicilio" required="true" placeholder="Escriba su domicilio">
                <br>
                <label class="lead" for="">Seleccione su tipo de servicio </label> 
                
                <select style="width: 300px;"  name="tipoServicio" id="tipoServicio" class="form-control border-secondary">     

                    <option value="1">Domicilio</option>
                    <option value="2">Comercial</option>
                    <option value="3">Industrial</option>
                
                </select>
                <br><br>
                <label class="lead" for="">KilloWatts consumidos: </label> 
                <input style="width: 300px;" type="number" class="form-control" aria-label="Amount (to the nearest dollar)" name="KilloWattsConsumidos" id="KilloWattsConsumidos" required="true" placeholder="Escriba el número de KilloWatts consumidos">
                <br><br>

                <button type="submit" class="btn btn-primary btn-lg btn-block">Enviar</button>
                <button type="button" onclick="Limpiar()" class="btn btn-primary btn-lg btn-block">Limpiar formulario</button>
                <br><br>
            </form>






          </div>

          <%

                let subtotal = 0
                let impuesto = 0
                let descuento = 0
                let totalPagar = 0

                let servicio = ""
                let precioKilo = ""

                if(tipoServicio == 1 && KilloWattsConsumidos <= 1000){
                    subtotal = parseFloat(KilloWattsConsumidos * 1.08);
                    impuesto = subtotal * 0.16;
                    descuento = subtotal * 0.10;

                    totalPagar = parseFloat(subtotal + impuesto - descuento)

                    servicio = "Domicilio"
                    precioKilo = "1.08"

                }else if(tipoServicio == 1 && (KilloWattsConsumidos > 1000 && KilloWattsConsumidos <= 10000)){
                    subtotal = parseFloat(KilloWattsConsumidos * 1.08);
                    impuesto = subtotal * 0.16;
                    descuento = subtotal * 0.20;

                    totalPagar = parseFloat(subtotal + impuesto - descuento)
                    servicio = "Domicilio"
                    precioKilo = "1.08"
                }else if(tipoServicio == 1 && KilloWattsConsumidos > 10000){
                    subtotal = parseFloat(KilloWattsConsumidos * 1.08);
                    impuesto = subtotal * 0.16;
                    descuento = subtotal * 0.50;

                    totalPagar = parseFloat(subtotal + impuesto - descuento)
                    servicio = "Domicilio"
                    precioKilo = "1.08"
                }else if(tipoServicio == 2 && KilloWattsConsumidos <= 1000){
                    subtotal = parseFloat(KilloWattsConsumidos * 2.5);
                    impuesto = subtotal * 0.16;
                    descuento = subtotal * 0.10;

                    totalPagar = parseFloat(subtotal + impuesto - descuento)
                    servicio = "Comercial"
                    precioKilo = "2.5"

                }else if(tipoServicio == 2 && (KilloWattsConsumidos > 1000 && KilloWattsConsumidos <= 10000)){
                    subtotal = parseFloat(KilloWattsConsumidos * 2.5);
                    impuesto = subtotal * 0.16;
                    descuento = subtotal * 0.20;

                    totalPagar = parseFloat(subtotal + impuesto - descuento)
                    servicio = "Comercial"
                    precioKilo = "2.5"

                }else if(tipoServicio == 2 && KilloWattsConsumidos > 10000){
                    subtotal = parseFloat(KilloWattsConsumidos * 2.5);
                    impuesto = subtotal * 0.16;
                    descuento = subtotal * 0.50;

                    totalPagar = parseFloat(subtotal + impuesto - descuento)
                    servicio = "Comercial"
                    precioKilo = "2.5"

                }else if(tipoServicio == 3 && KilloWattsConsumidos <= 1000){
                    subtotal = parseFloat(KilloWattsConsumidos * 3);
                    impuesto = subtotal * 0.16;
                    descuento = subtotal * 0.10;

                    totalPagar = parseFloat(subtotal + impuesto - descuento)
                    servicio = "Industrial"
                    precioKilo = "3"

                }else if(tipoServicio == 3 && (KilloWattsConsumidos > 1000 && KilloWattsConsumidos <= 10000)){
                    subtotal = parseFloat(KilloWattsConsumidos * 3);
                    impuesto = subtotal * 0.16;
                    descuento = subtotal * 0.20;

                    totalPagar = parseFloat(subtotal + impuesto - descuento)
                    servicio = "Industrial"
                    precioKilo = "3"

                }else if(tipoServicio == 3 && KilloWattsConsumidos > 10000){
                    subtotal = parseFloat(KilloWattsConsumidos * 3);
                    impuesto = subtotal * 0.16;
                    descuento = subtotal * 0.50;

                    totalPagar = parseFloat(subtotal + impuesto - descuento)
                    servicio = "Industrial"
                    precioKilo = "3"

                }

          %>


          <div class="container" style="background-color: rgb(245, 234, 79);">
            <br><br>
            <table  id="tabla" class="table table-striped table-hover  table-bordered border-secondary" style="text-align: center;" >
                <thead>
                  <tr>
                    <th>Nombre</th>
                    <th>Tipo de Servicio</th>
                    <th>Kilowatts Consumidos</th>
                    <th>Costo por Kilowatts</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><%=nombre%></td>
                    <td><%=servicio%></td>
                    <td><%=KilloWattsConsumidos%></td>
                    <td><%=precioKilo%></td>
                  </tr>
                  <tr>
                    <td></td>
                    <td></td>
                    <td>Subtotal: </td>
                    <td>$<%=subtotal%></td>
                  </tr>
                  <tr>
                    <td></td>
                    <td></td>
                    <td>Impuesto: </td>
                    <td>$<%=impuesto%></td>
                  </tr>
                  <tr>
                    <td></td>
                    <td></td>
                    <td>Descuento: </td>
                    <td>$<%=descuento%></td>
                  </tr>
                  <tr>
                    <td></td>
                    <td></td>
                    <td>Total a pagar: </td>
                    <td>$<%=totalPagar%></td>
                  </tr>
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
                    
                <br>
          </div>

          
                </div>
          



    </div>
</center>







    <br>
    <center>
        <%-include('partials/piePagina.html');%>
    </center>
</body>

    <script>
        
        function Limpiar(){
            const numRecibo = document.getElementById("numRecibo");
            const nombre = document.getElementById("nombre");
            const domicilio = document.getElementById("domicilio");
            const tipoServicio = document.getElementById("tipoServicio");
            const KilloWattsConsumidos = document.getElementById("KilloWattsConsumidos");
      


            numRecibo.value="";
            nombre.value="";
            domicilio.value="";
            tipoServicio.value="";
            KilloWattsConsumidos.value="";
        }




    </script>



</html>